@import 'normalize.css';

@import '@fontsource/inter/400.css';
@import '@fontsource/inter/variable.css';
@import '@fontsource/space-grotesk/400.css';
@import '@fontsource/space-grotesk/variable.css';

/* Resets */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Global variables and variable font setup */
:root {
	/* Weight varies 100-900 default 400 step 1 */
	--font-heading: 'Space GroteskVariable', sans-serif;
	--font-heading-fallback: 'Space Grotesk', sans-serif;
	/* Weight varies 300-700 default 400 step 1 */
    --font-paragraph: 'InterVariable', sans-serif;
    --font-paragraph-fallback: 'Inter', sans-serif;

	--logo-color: #0F682D;
    --primary-color: #0F682D;
    --text-color: #312F36;
    --pure-white: #FFFFFF;
}

html {
    font-family: var(--font-paragraph-fallback);
    color: var(--text-color);
    font-size: 16px;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading-fallback);
    font-weight: 400;
    color: var(--text-color);
}

@supports (font-variation-settings: normal) {
	html {
		font-family: var(--font-paragraph);
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: var(--font-heading);
	}
}
